.employeeWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 2rem;
}

  .employeeWrapper article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .employeeWrapper article img {
      width: 70%;
      border-radius: 15rem;
    }

    .employeeWrapper article svg {
      border: 0.2rem solid var(--dark-blue);
      border-radius: 15rem;
    }
    
    .employeeWrapper article h3 {
      margin-bottom: 0;
    }

    .employeeWrapper article a {
      font-weight: 700;
    }