#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  height: 25rem;
  background: url("../images/alexander/alexander.jpg") no-repeat 25% 25%;
  background-size: cover;
  border: 0.25rem solid var(--light-beige);
  border-radius: 0.5rem;
}

#presentationBox {
  opacity: 0; /* Animeras i JS */
  width: 16rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

#decorativeLine {
  height: 1rem;
}

#decorativeLine img {
  width: 100%;
  height: 100%;
}

li {
  margin-bottom: 1rem;
}

progress {
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: var(--dark-green);
  border-radius: 0.5rem;
}
progress::-webkit-progress-value {
  background-color: var(--light-green);
  animation: flashingBar 1s infinite;
  border-radius: 0.5rem;
}

#skillsWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

#codeSkillsBox {
  width: 100%;
  height: auto;
}

#creativeSkillsBox {
  width: 100%;
  height: auto;
}

/* Desktop  */
@media (min-width: 768px) {
  progress {
    width: 80%;
  }

  #skillsWrapper {
    flex-direction: row;
  }

  #codeSkillsBox {
    width: 49%;
    height: auto;
  }

  #creativeSkillsBox {
    width: 49%;
    height: auto;
  }
}
