#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  height: 25rem;
  background: url("../images/alexander/alexanderHeaderImage.png") no-repeat 15%
      100%,
    linear-gradient(to right, var(--header-green), var(--header-green));
  background-size: 45%;
  /*   border: 0.25rem solid var(--light-beige); */
  border-radius: 0.5rem;
}

#presentationBox {
  opacity: 0; /* Animeras i JS */
  width: 16rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

  #presentationBox h2:first-child {
    font-size: 1.2rem;
    font-weight: 300;
  }

#decorativeLine {
  height: 1rem;
}

#decorativeLine img {
  width: 100%;
  height: 100%;
}

li {
  margin-bottom: 1rem;
}

progress {
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  box-shadow: 0.063rem 0.063rem 0.25rem rgba(0, 0, 0, 0.2); /* Vid sådana här syften är PX smidigt och gör inte sidan mindre responsiv men kör detta nu enligt uppgiften */
}

progress::-webkit-progress-bar {
  background-color: var(--dark-blue);
  border-radius: 0.5rem;
}

progress::-webkit-progress-value {
  background-color: var(--light-green);
  border-radius: 0.5rem;
}

#skillsWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

#codeSkillsBox {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

#creativeSkillsBox {
  width: 100%;
  height: auto;
}

#slideShowContainer {
  margin-left: auto;
  width: 100%;
  height: 20rem;
}

#slideShow {
  width: 100%;
  filter: grayscale(100);
}

/* "Mellanskärm" */
@media (min-width: 500px) {
  #presentation {
    background: url("../images/alexander/alexanderHeaderImage.png") no-repeat
        15% 25%,
      linear-gradient(to right, var(--header-green), var(--header-green));
    background-size: 35%;
  }
}

/* Dator  */
@media (min-width: 768px) {
  #presentation {
    background: url("../images/alexander/alexanderHeaderImage.png") no-repeat
        25% 0%,
      linear-gradient(to right, var(--header-green), var(--header-green));
    background-size: 25%;
  }

  progress {
    width: 80%;
  }

  #skillsWrapper {
    flex-direction: row;
  }

  #codeSkillsBox {
    width: 49%;
    height: auto;
  }

  #creativeSkillsBox {
    width: 49%;
    height: auto;
  }
}

/* Dator Header Förbättring */
@media (min-width: 1150px) {
  #presentation {
    background: url("../images/alexander/alexanderHeaderImage.png") no-repeat
        35% 0%,
      linear-gradient(to right, var(--header-green), var(--header-green));
    background-size: 18%;
  }
}
