#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  height: 25rem;
  background: url("../images/alexander/alexanderHeaderImage.png") no-repeat 15%
      0%,
    linear-gradient(to right, var(--header-green), var(--header-green));
  background-size: 35%;
  border: 0.25rem solid var(--light-beige);
  border-radius: 0.5rem;
}

#presentationBox {
  opacity: 0; /* Animeras i JS */
  width: 16rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

#decorativeLine {
  height: 1rem;
}

#decorativeLine img {
  width: 100%;
  height: 100%;
}

li {
  margin-bottom: 1rem;
}

progress {
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: var(--dark-green);
  border-radius: 0.5rem;
}
progress::-webkit-progress-value {
  background-color: var(--light-green);
  animation: flashingBar 1s infinite;
  border-radius: 0.5rem;
}

#skillsWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

#codeSkillsBox {
  width: 100%;
  height: auto;
}

#creativeSkillsBox {
  width: 100%;
  height: auto;
}

#slideShowContainer {
  margin-left: auto;
  width: 100%;
  height: 20rem;
}

#slideShow {
  width: 100%;
  filter: grayscale();
}

/* Desktop  */
@media (min-width: 768px) {
  #presentation {
    background: url("../images/alexander/alexanderHeaderImage.png") no-repeat
        25% 0%,
      linear-gradient(to right, var(--header-green), var(--header-green));
    background-size: 25%;
  }

  progress {
    width: 80%;
  }

  #skillsWrapper {
    flex-direction: row;
  }

  #codeSkillsBox {
    width: 49%;
    height: auto;
  }

  #creativeSkillsBox {
    width: 49%;
    height: auto;
  }
}

/* Desktop Header Improvement */
@media (min-width: 1150px) {
  #presentation {
    background: url("../images/alexander/alexanderHeaderImage.png") no-repeat
        35% 0%,
      linear-gradient(to right, var(--header-green), var(--header-green));
    background-size: 18%;
  }
}
