.contactWrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: auto;
}

  .contactWrapper input, .contactWrapper textarea {
    padding: 0.7rem;
    background: inherit;
    border: none;
    border-bottom: 1px solid var(--light-beige);
    font-size: 1.1rem;
    resize: none;
  }
  
  .contactWrapper button {
    height: 44px;
    border: 1px solid var(--light-beige);
    font-size: 1.1rem;
    background: inherit;
  }