footer {
  background: var(--dark-blue);
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  footer .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}