.landingWrapper {
  display: flex;
  min-height: 70vh;
  background: url(../images/bg1.png) center center / cover no-repeat  fixed; 
  background-size: cover;
}

  .landingWrapper .contentWrapper section {
    max-width: 900px;
  }

  .landingWrapper .contentWrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .landingWrapper h2 {
    font-size: 3rem;
  }

    .landingWrapper span {
      text-decoration: underline;
      color: var(--light-green);
    }

    .landingWrapper p {
      font-size: 1.2rem;
    }
    
  .playbackControls {
    display: flex;
  }

  .loadingBar {
    width: 28%;
    height: 1.2rem;
    border-radius: 1rem;
    background: var(--dark-green);
  }
          
    .loadingBar div {
      height: 100%;
      border-radius: 1rem;
      background-color: var(--light-beige);
    }

@media (min-width: 768px) {
  .loadingBar {
    width: 10%;
  }
}