.landingWrapper .contentWrapper article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingWrapper .contentWrapper article > img {
  width: 30%;
  border-radius: 50%;
}

.opacity-animation > div {
  background: var(--dark-blue);
}

.opacity-animation div div {
  background: var(--light-green);
}


/* Progress bars */
.progress-container,.bar {padding:0.01em 1em} .bar {margin-top:1em;margin-bottom:1em}
.edge-rounding {border-radius:1em}

/* Animation */
.opacity-animation {animation:opac 2s} @keyframes opac{ from {opacity:0} to {opacity:1}}